.guest-title {
  font-family: "Poppins", sans-serif;
  margin-top: 10rem;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-left: 2rem;
  color: white !important;
  text-align: center; /* Center-align the text */
}

.guest-div {
  height: auto; /* Change to auto for better responsiveness */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  margin-bottom: 4rem;
  background-color: #edba31;
}

.image-container {
  display: flex; /* Use flexbox for collage layout */
  flex-wrap: wrap; /* Allow images to wrap */
  justify-content: center; /* Center images */
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
}

.guest-image {
  width: 100%; /* Full width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 0; /* No rounded corners for seamless effect */
  object-fit: cover; /* Cover the area without distortion */
}

.guest-image:nth-child(odd) {
  margin-right: -5px; /* Adjust margin for odd images to create a seamless effect */
}

.guest-image:nth-child(even) {
  margin-left: -5px; /* Adjust margin for even images to create a seamless effect */
}

@media (max-width: 768px) {
  .guest-title {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }

  .guest-image {
    width: 100%; /* Full width for smaller screens */
  }
}